@font-face {
    font-family: "montserrat500";
    src: url(./fonts/!Montserrat-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat500", sans-serif;
}

:root{
    --selected_nav: rgb(95, 4, 170);
}

button{
    background: none;
    outline: none;
    border: 1px solid whitesmoke;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.4s ease;
    cursor: pointer;
}

button:hover{
    color: black;
    background: whitesmoke;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    /* To center every elements in middle of the screen at the bottom */
    margin: 0 auto;
    text-align: center;
}

nav{
    /* In the project, the largest part of elements will be 1200px max-width for not exaggerate the width from big screen (like a TV) at the bottom */
    max-width: 1200px;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* WARNING= To put ">" sometime it is COMPLETELY USELESS!! At the bottom */
nav li{
    text-transform: uppercase;
    font-weight: 700;
    font-style: 0.9em;
    cursor: pointer;
    /* To stuck the element "::before"  inside of the "nav > li" */
    position: relative;
    transition: 0.3s ease;
    padding: 20px 0;
}

nav li:first-child{
    color: var(--selected_nav);
}

/* To create the purple border above from "selected li" of the nav at the bottom */
nav li:first-child::before{
    /* Always made a content even if it's empty for a "::before" & "::after" at the bottom */
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: var(--selected_nav);    
    transform: translateY(-20px);
}

nav li:hover::before{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: var(--selected_nav);    
    transform: translateY(-20px);
}

nav li:last-child::before{
    /* To completely diseapear all attributes from "::before" of "::after" because on the one hand it need a "content" but on the other hand it need also a "bg"!! At the bottom */
    background: none;
}

#language{
    background: rgba(128, 128, 128, 0.25);
    border-radius: 50px;
    padding: 8px 16px;
}